<form method="post" action="{{ action }}" enctype="multipart/form-data" class="form"
      hx-post="{{ action }}" hx-encoding="multipart/form-data"
      hx-target="this" hx-swap="outerHTML">
  {% csrf_token %}
  {{ form.as_div }}
  <div class="actions">
    <button type="submit" class="button">Сохранить</button>
    {% if submission %}
      <a class="button button--secondary" href="{% url 'submission_detail' submission.pk %}"
         hx-get="{% url 'submission_detail' submission.pk %}"
         hx-target="closest form" hx-swap="outerHTML">Отмена</a>
    {% else %}
      <a class="button button--secondary" href="{% url 'conference_detail' conference.slug %}">Отмена</a>
    {% endif %}
  </div>
</form>
